/*
    STARTOUCH COLOURS
    Red:        #D93744
    Orange:     #EBA232
    Cream:      #F4F1EA
    Turquoise:  #ACD0C2
    Dark Blue:  #395474
*/
html,
body {
    background-color: #F4F1EA;
}



.key {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    margin: 5px;
    display: inline-block;
}

.vertical {
    height: 50px;
    width: 0px;
    border: 2px solid black;
    margin: 5px;
    margin-left: 0px;
    margin-right: 0px;
    display: inline-block;
}

.noborder {
    border: 2px solid transparent;
}

.spacebar {
    height: 50px;
    width: 400px;
    border: 2px solid black;
    margin: auto;
}

#tab {
    width: 75px;
    color: #acd0c2;
}



#rowTop {
    width: 1000px;
    margin: auto;
    padding-left: 70px;
}

#rowHome {
    width: 1000px;
    margin: auto;
    padding-left: 185px;
}

#rowBot {
    width: 1000px;
    margin: auto;
    padding-left: 210px;
}

#rowSubmit {
    padding-top: 15px;
}

.darkBlue {
    background-color: #395474;
}

.turquoise {
    background-color: #ACD0C2;
}

.orange {
    background-color: #EBA232;
}

.red {
    background-color: #D93744;
}
